#android-logo {
    width: 7.5%;
}

nav {
    font-size: 1.2rem;    
    border: 5px solid lightgrey;
    border-bottom: none;
    border-right: none;
}

.navbar-light .navbar-nav .nav-link {
    color: $green;
    font-size: 1.1rem;
}


#navbarTogglerDemo03 {
    flex-direction: row;
    justify-content: flex-end;
}

.mt-lg-0 {
    margin-right: 0 !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: grey;
}